# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
build/
dist/
*.egg-info/

# Environment Variables (Sangat Penting: JANGAN DI-COMMIT)
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
screen.png
